/*:::: Main Stylesheet ::::*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 09:36:19
    Author     : david
*/
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5em;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table,
th,
td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 09:37:22
    Author     : david
*/
@font-face {
  font-family: 'Univers';
  src: url('../fonts/lt_50138-webfont.eot');
  src: url('../fonts/lt_50138-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lt_50138-webfont.woff') format('woff'), url('../fonts/lt_50138-webfont.ttf') format('truetype'), url('../fonts/lt_50138-webfont.svg#DLRGUnivers55RomanRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 100.01%;
}
body {
  font-size: 28px;
  color: #333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #cc3900;
  line-height: 18px;
  font-family: Univers, Verdana, Arial, Helvetica, sans-serif;
}
#title > h1 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: right;
  display: inline-block;
}
h1 {
  font-size: 18px;
  margin-bottom: 8px;
}
#unit > h2 {
  font-size: 11px;
  margin-bottom: 0px;
  color: #fff;
  text-shadow: black 1px 1px 1px;
}
h2 {
  font-size: 16px;
  margin-bottom: 0px;
}
h3 {
  font-size: 50px;
  line-height: normal;
  margin-bottom: 8px;
}
h4 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 8px;
  color: #666;
}
h5 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 9px;
}
h6 {
  font-size: 11px;
  margin-bottom: 0px;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
#news_teaser h3 {
  font-size: 13px;
  color: #fff;
  background: #bfbfbf;
  padding: 9px 10px;
  text-align: center;
}
#news_teaser p {
  margin: 9px 10px;
  padding: 0 0 9px;
  border-bottom: 1px solid #d9d9d9;
}
#news_teaser p:last-child {
  margin: 9px 10px 18px;
  padding: 0;
  border-bottom: 0;
}
.newsdetail h3 {
  font-size: 11px;
  color: #222;
  border-bottom: 1px solid #999;
  font-style: italic;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.trauerbox h3,
.trauerbox h4,
.trauerbox h5,
.trauerbox h6 {
  color: #fff;
}
#darksite h3,
#darksite h4,
#darksite h5,
#darksite h6 {
  color: #fff !important;
}
p {
  margin: 0 0 18px;
}
#geo_search p {
  color: #6d6b57;
  margin: 5px 0;
}
.toolbar {
    background: none repeat scroll 0 0 #ccc;
    border: 1px solid #999;
    border-radius: 8px;
    margin-bottom: 18px;
    padding: 0px;
    min-height: 29px;
    overflow: auto;
}
.toolbar > div {
    padding: 6px 10px 0px 10px;
    height: 24px;
    white-space: nowrap;
}
.toolbar > div.left1 {
  border-right: 1px solid #999;
}
.toolbar > div.left {
	float: left;
  border-right: 1px solid #999;
}
.toolbar > div.right {
	float: right;
}
.toolbar > div.leftaction {
	float: left;
	padding-top: 4px !important;;
	height: 25px;
  border-right: 1px solid #999;
}
.toolbar > div.leftaction > label {
	padding: 0px;
	margin: 0px;
}
.toolbar .linktext {
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.box_grey,
.box_yellow {
  color: #72715f;
  font-size: 13px;
}
.box_grey p,
.box_yellow p {
  margin: 0 0 9px;
}
#footer p {
  font-size: 10px;
  color: #666;
}
.news_list p {
  line-height: 20px;
}
p.pagebrowser {
  margin: 18px 0;
  text-align: right;
}
.trauerbox p {
  color: #fff;
}
#darksite {
  color: #bfbfbf;
}
#darksite #zitat p {
  font-size: 12px;
  font-style: italic;
  margin: 18px 0 0 230px;
}
#darksite #zitat p:before {
  content: '- ';
}
#darksite blockquote {
  font-style: normal;
  color: #b3b3b3;
  font-size: 16px;
  margin: 0;
}
img {
  margin: 0 0 9px 0;
}
.floatleft {
  float: left;
  margin-right: 20px;
}
.floatright {
  float: right;
  margin-left: 20px;
}
.img dt,
.img dd,
.img img {
  margin: 0;
}
.img dd {
  font-size: 9px;
  color: #666;
  line-height: 1.3em;
  padding-top: 0.3em;
}
a:focus,
a:hover {
  text-decoration: none;
}
a {
  color: #000;
  text-decoration: underline;
}
.trauerbox a {
  color: #fff;
}
#content_right a:focus,
#sidebar a:focus,
#header_sidebar a:hover {
  text-decoration: underline !important;
}
#header_sidebar a {
  text-decoration: none !important;
}
.button a:focus,
.button a:hover {
  color: #e2e2e2 !important;
  text-decoration: none !important;
}
.button a {
  color: #fff !important;
  text-decoration: none;
  display: block;
  margin: 0 -10px;
  padding: 0 10px;
}
a.morelink:focus,
a.morelink:hover {
  text-decoration: underline;
}
a.morelink {
  color: #cc3900 !important;
  background: url("../img/sprite.png") no-repeat -270px 5px;
  padding: 0 0 0 10px;
  text-decoration: none;
}
a.backlink:focus,
a.backlink:hover {
  text-decoration: underline;
}
a.backlink {
  color: #cc3900;
  text-decoration: none;
}
a.backlink:before {
  content: '<< ';
}
a.redlink:focus,
a.redlink:hover {
  text-decoration: none !important;
}
a.redlink {
  color: #cc3900 !important;
  text-decoration: underline;
}
a.nivo-control:hover {
  text-decoration: none !important;
}
a.nivo-control {
  text-decoration: none !important;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
  quotes: "\201E" "\201D";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
sup,
sub {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
}
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre,
code,
tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  margin-bottom: 18px;
  width: 100%;
}
th {
  font-weight: bold;
  color: #999;
}
thead th {
  background: none;
}
th,
td,
caption {
  padding: 4px 10px 4px 10px;
  vertical-align: top;
  border-bottom: 1px solid #b3b3b3;
}
tfoot {
  font-style: italic;
}
caption {
  background: #eee;
}
.small {
  font-size: 10px;
  line-height: 18px;
}
.large {
  font-size: 16px;
  line-height: 18px;
}
.hide {
  display: none;
}
.button {
  cursor: pointer;
  line-height: 22px;
  padding: 0 10px;
  color: #fff !important;
  font-size: 13px;
  text-align: center;
  background: #cc3900 url("../img/bg_button.png") repeat-x top left;
}
.quiet {
  color: #666;
}
.red {
  color: #cc3900;
}
.wichtig {
  color: #cc3900;
  font-weight: bold;
}
.clear {
  clear: both;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.right {
  text-align: right;
}
.delete {
  background-image: url(../img/delete.gif);
  background-repeat: no-repeat;
  padding-left: 14px;
  width: 14px;
  height: 11px;
}
.bg_lightgrey {
  background: #f2f2f2;
}
.darksite_info {
  background: #fff;
  border-bottom: 3px solid #cc3900;
  padding: 9px 10px;
  width: 166px;
  color: #333;
  font-size: 13px;
}
.trauerbox_date {
  background: url("../img/sprite.png") -270px -873px no-repeat;
  padding: 0 0 0 10px;
}
hr {
  background: #999;
  color: #999;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}
.boxicon {
  position: absolute;
  top: 0;
  left: 150px;
  height: 65px;
  width: 70px;
  background: url("../img/sprite.png");
}
.onlinespende .boxicon {
  background-position: 0 0;
}
.spendenflyer .boxicon {
  background-position: 0 -530px;
}
.shop .boxicon {
  background-position: 0 -265px;
}
a.images:nth-child(3n+1) img.floatleft {
  margin: 0 0 9px 0;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 10:41:58
    Author     : david
*/
.accordion h4 {
  line-height: 23px;
  margin-bottom: 3px;
  color: #5b5b5b;
  font-size: 12px;
  padding: 0 30px 0 10px;
  cursor: pointer;
}
.accordion h4.accordion_trigger {
  background: #f2f2f2 url("../img/bg_accordion_closed.png") no-repeat top right;
}
.accordion h4.opened {
  background: #f2f2f2 url("../img/bg_accordion_opened.png") no-repeat top right;
}
.accordion_content {
  padding: 10px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 10:43:18
    Author     : david
*/
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url('../img/fancybox/fancybox.png');
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url('../img/fancybox/fancybox.png') -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
#fancybox-left,
#fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url('../img/fancybox/blank.gif');
  z-index: 1102;
  display: none;
}
#fancybox-left {
  left: 0px;
}
#fancybox-right {
  right: 0px;
}
#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}
#fancybox-left-ico {
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -30px;
}
#fancybox-right-ico {
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -60px;
}
#fancybox-left:hover,
#fancybox-right:hover {
  visibility: visible;
}
#fancybox-left:hover span {
  left: 20px;
}
#fancybox-right:hover span {
  left: auto;
  right: 20px;
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url('../img/fancybox/fancybox-x.png');
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -162px;
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url('../img/fancybox/fancybox-y.png');
  background-position: -20px 0px;
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -182px;
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url('../img/fancybox/fancybox-x.png');
  background-position: 0px -20px;
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -142px;
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url('../img/fancybox/fancybox-y.png');
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url('../img/fancybox/fancybox.png');
  background-position: -40px -122px;
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}
#fancybox-title-over {
  padding: 10px;
  background-image: url('../img/fancybox/fancy_title_over.png');
  display: block;
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url('../img/fancybox/fancybox.png') -40px -90px no-repeat;
}
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url('../img/fancybox/fancybox-x.png') 0px -40px;
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url('../img/fancybox/fancybox.png') -55px -90px no-repeat;
}
.fancybox-ie .fancybox-bg {
  background: transparent !important;
}
.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancybox/fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}
/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none;
  margin: 0;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}
.nivo-prevNav {
  left: 0px;
}
.nivo-nextNav {
  right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  position: absolute;
  top: 300px;
  left: 500px;
}
.nivo-controlNav a {
  display: block;
  margin-right: 3px;
  float: left;
  line-height: 23px;
  text-align: center;
  position: relative;
  z-index: 9;
  cursor: pointer;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png") -270px -653px;
}
.nivo-controlNav a:hover {
  background-position: -270px -430px;
  text-decoration: none;
}
.nivo-controlNav a.active {
  font-weight: bold;
  color: #fff;
  background-position: -270px -207px;
}
@media only screen and (max-width: 1023px) {
  .nivo-controlNav {
    top: 240px;
    left: 400px;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .nivo-controlNav {
    top: auto;
    left: 114px;
    bottom: 10px;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 10:44:09
    Author     : david
*/
#map {
  height: 600px;
  width: 486px;
}
.jvectormap-label {
  position: absolute;
  display: none;
  border: solid 1px #fff;
  -moz-border-radius: 3px;
  background: #5c5c5c;
  color: white;
  padding: 3px;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
  position: absolute;
  -moz-border-radius: 2px;
  background: #FCD719;
  padding: 3px;
  color: white;
  width: 10px;
  height: 10px;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  display: none;
}
.jvectormap-zoomin {
  left: 10px;
  top: 10px;
}
.jvectormap-zoomout {
  left: 10px;
  top: 30px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 10:45:20
    Author     : david
*/
.video-js-box {
  text-align: left;
  position: relative;
  line-height: 0 !important;
  margin: 0;
  padding: 0 !important;
  border: none !important;
  margin: 0 0 20px 0;
}
.video-js-box img.vjs-poster {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.video-js-box .vjs-subtitles {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.video-js-box .vjs-controls {
  position: absolute;
  margin: 0;
  opacity: 0.9;
  color: #fff;
  display: none;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0px;
  height: 50px;
  padding: 0;
}
.video-js-box .vjs-controls > div {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 25px;
  top: 18px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
video.video-js {
  background-color: #000;
  position: relative;
  padding: 0;
}
.vjs-flash-fallback {
  display: block;
}
.video-js-box.vjs-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
.video-js-box.vjs-fullscreen img.vjs-poster {
  z-index: 1001;
}
.video-js-box.vjs-fullscreen .vjs-spinner {
  z-index: 1001;
}
.video-js-box.vjs-fullscreen .vjs-controls {
  z-index: 1003;
}
.video-js-box.vjs-fullscreen .vjs-big-play-button {
  z-index: 1004;
}
.video-js-box.vjs-fullscreen .vjs-subtitles {
  z-index: 1004;
}
.video-js-box.vjs-fullscreen video.video-js,
.video-js-box.vjs-fullscreen .vjs-flash-fallback {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.vjs-styles-check {
  height: 5px;
  position: absolute;
}
.video-js-box.vjs-controls-below .vjs-controls {
  position: relative;
  opacity: 1;
  background-color: #000;
}
.video-js-box.vjs-controls-below .vjs-subtitles {
  bottom: 75px;
}
.vjs-controls > div.vjs-play-control {
  left: 5px;
  width: 25px;
}
.vjs-controls > div.vjs-progress-control {
  left: 30px;
  right: 160px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.vjs-controls > div.vjs-time-control {
  width: 75px;
  right: 85px;
}
.vjs-controls > div.vjs-volume-control {
  width: 50px;
  right: 30px;
}
.vjs-controls > div.vjs-fullscreen-control {
  width: 25px;
  right: 5px;
}
.vjs-controls .vjs-time-control {
  font-size: 10px;
  line-height: 1;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: #FCD719;
}
.vjs-controls .vjs-time-control span {
  line-height: 25px;
}
.vjs-controls  > div.vjs-play-control,
.vjs-controls  > div.vjs-volume-control {
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}
.vjs-controls  > div.vjs-time-control,
.vjs-controls  > div.vjs-fullscreen-control {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}
.vjs-play-control {
  cursor: pointer !important;
}
.vjs-play-control span {
  display: block;
  font-size: 0;
  line-height: 0;
}
.vjs-paused .vjs-play-control span {
  width: 0;
  height: 0;
  margin: 8px 0 0 8px;
  border-left: 10px solid #FCD719;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
}
.vjs-playing .vjs-play-control span {
  width: 3px;
  height: 10px;
  margin: 8px auto 0;
  border-top: 0px;
  border-left: 3px solid #FCD719;
  border-bottom: 0px;
  border-right: 3px solid #FCD719;
}
.vjs-progress-holder {
  position: relative;
  padding: 0;
  overflow: hidden;
  cursor: pointer !important;
  height: 9px;
  border: 1px solid #FCD719;
  margin: 7px 1px 0 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.vjs-progress-holder div {
  position: absolute;
  display: block;
  width: 0;
  height: 9px;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.vjs-play-progress {
  background: #FCD719;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce77e), to(#fcd719));
  background: -moz-linear-gradient(top, #fce77e, #fcd719);
}
.vjs-load-progress {
  opacity: 0.8;
  background-color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#999999));
  background: -moz-linear-gradient(top, #666666, #999999);
}
.vjs-volume-control {
  cursor: pointer !important;
}
.vjs-volume-control div {
  display: block;
  margin: 0 5px 0 5px;
  padding: 5px 0 0 0;
}
.vjs-volume-control div span {
  float: left;
  padding: 0;
  margin: 0 2px 0 0;
  width: 5px;
  height: 0px;
  border-bottom: 15px solid #666;
}
.vjs-volume-control div span.vjs-volume-level-on {
  border-color: #FCD719;
}
.vjs-volume-control div span:last-child {
  margin-right: 0;
}
.vjs-fullscreen-control {
  cursor: pointer !important;
}
.vjs-fullscreen-control div {
  padding: 0;
  text-align: left;
  vertical-align: top;
  cursor: pointer !important;
  margin: 5px 0 0 5px;
  width: 20px;
  height: 20px;
}
.vjs-fullscreen-control div span {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: 0;
  text-align: left;
  vertical-align: top;
}
.vjs-fullscreen-control div span:nth-child(1) {
  margin-right: 3px;
  margin-bottom: 3px;
  border-top: 6px solid #FCD719;
  border-right: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen-control div span:nth-child(2) {
  border-top: 6px solid #FCD719;
  border-left: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen-control div span:nth-child(3) {
  clear: both;
  margin: 0 3px 0 0;
  border-bottom: 6px solid #FCD719;
  border-right: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen-control div span:nth-child(4) {
  border-bottom: 6px solid #FCD719;
  border-left: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(1) {
  border: none;
  border-bottom: 6px solid #FCD719;
  border-left: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(2) {
  border: none;
  border-bottom: 6px solid #FCD719;
  border-right: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(3) {
  border: none;
  border-top: 6px solid #FCD719;
  border-left: 6px solid rgba(0, 0, 0, 0);
}
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(4) {
  border: none;
  border-top: 6px solid #FCD719;
  border-right: 6px solid rgba(0, 0, 0, 0);
}
.vjs-no-video {
  font-size: small;
  line-height: 1.5;
}
div.vjs-big-play-button {
  display: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -41px 0 0 -41px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
  border: 1px solid #FCD719;
  opacity: 0.9;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 4px 4px 8px #000;
  -webkit-box-shadow: 4px 4px 8px #000;
  -moz-box-shadow: 4px 4px 8px #000;
}
div.vjs-big-play-button span {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 20px 0 0 23px;
  border-left: 40px solid #FCD719;
  border-top: 20px solid rgba(0, 0, 0, 0);
  border-bottom: 20px solid rgba(0, 0, 0, 0);
}
div.vjs-big-play-button:hover {
  box-shadow: 0px 0px 80px #fff;
  -webkit-box-shadow: 0px 0px 80px #fff;
  -moz-box-shadow: 0px 0px 80px #fff;
}
.vjs-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  margin: -50px 0 0 -50px;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
}
.vjs-spinner div {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 20px;
  height: 20px;
  background: #FCD719;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 1px solid #ccc;
}
.vjs-spinner div:nth-child(1) {
  opacity: 0.12;
  transform: rotate(0deg) translate(0, -40px) scale(0.1);
  -webkit-transform: rotate(0deg) translate(0, -40px) scale(0.1);
  -moz-transform: rotate(0deg) translate(0, -40px) scale(0.1);
}
.vjs-spinner div:nth-child(2) {
  opacity: 0.25;
  transform: rotate(45deg) translate(0, -40px) scale(0.2);
  -webkit-transform: rotate(45deg) translate(0, -40px) scale(0.2);
  -moz-transform: rotate(45deg) translate(0, -40px) scale(0.2);
}
.vjs-spinner div:nth-child(3) {
  opacity: 0.37;
  transform: rotate(90deg) translate(0, -40px) scale(0.4);
  -webkit-transform: rotate(90deg) translate(0, -40px) scale(0.4);
  -moz-transform: rotate(90deg) translate(0, -40px) scale(0.4);
}
.vjs-spinner div:nth-child(4) {
  opacity: 0.50;
  transform: rotate(135deg) translate(0, -40px) scale(0.6);
  -webkit-transform: rotate(135deg) translate(0, -40px) scale(0.6);
  -moz-transform: rotate(135deg) translate(0, -40px) scale(0.6);
}
.vjs-spinner div:nth-child(5) {
  opacity: 0.62;
  transform: rotate(180deg) translate(0, -40px) scale(0.8);
  -webkit-transform: rotate(180deg) translate(0, -40px) scale(0.8);
  -moz-transform: rotate(180deg) translate(0, -40px) scale(0.8);
}
.vjs-spinner div:nth-child(6) {
  opacity: 0.75;
  transform: rotate(225deg) translate(0, -40px) scale(1);
  -webkit-transform: rotate(225deg) translate(0, -40px) scale(1);
  -moz-transform: rotate(225deg) translate(0, -40px) scale(1);
}
.vjs-spinner div:nth-child(7) {
  opacity: 0.87;
  transform: rotate(270deg) translate(0, -40px) scale(1.1);
  -webkit-transform: rotate(270deg) translate(0, -40px) scale(1.1);
  -moz-transform: rotate(270deg) translate(0, -40px) scale(1.1);
}
.vjs-spinner div:nth-child(8) {
  opacity: 1.00;
  transform: rotate(315deg) translate(0, -40px) scale(1.3);
  -webkit-transform: rotate(315deg) translate(0, -40px) scale(1.3);
  -moz-transform: rotate(315deg) translate(0, -40px) scale(1.3);
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 03.02.2014, 09:44:06
    Author     : david
*/
#menu_root {
  width: 1800px;
  float: left;
}
#menu_root p {
  line-height: 36px;
  color: #cc3900;
  font-size: 10px;
  margin-bottom: 0;
}
#menu_root a {
  text-decoration: none;
  color: #666;
}
#menu_root img {
  margin: 0;
}
#menu_root a:focus,
#menu_root a:hover {
  color: #cc3900;
}
#menu_meta {
  width: 1570px;
  float: left;
  margin: 8px 20px 5px 0;
}
#menu_meta ul {
  float: left;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
#menu_meta ul li {
  float: left;
  padding: 0;
}
#menu_meta ul li a,
#menu_meta ul li strong {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 12px;
  padding: 0 7px 0 0;
  margin: 3px 7px 3px 0;
  border-right: 1px solid #333;
  text-decoration: none;
  width: auto;
}
#menu_meta ul li strong {
  color: #111;
}
#menu_meta ul li a:hover {
  color: #cc3900;
}
#menu_meta ul li:last-child a {
  border-right: 0;
}
#menu_main {
  background: url("../img/bg_menu_main_search.png") repeat-x;
  border-right: 1px solid #eaca2c;
  margin-right: 0px;
  width: 1799px;
  float: left;
}
#menu_main > a {
  display: none;
}
#menu_main ul {
  border-right: 1px solid #eaca2c;
  display: block;
  float: left;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#menu_main ul li {
  border-left: 1px solid #fceda4;
  border-right: 1px solid #eaca2c;
  float: left;
  padding: 0;
}
#menu_main ul li > a,
#menu_main ul li strong {
  background: transparent;
  color: #5c5c5c;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 36px;
  padding: 0 15px;
  text-decoration: none;
  width: auto;
}
#menu_main ul li a:hover {
  color: #cc3900;
  background: url("../img/bg_opacity_50.png") repeat;
}
#menu_main ul li:first-child {
  border-left: 0;
}
#menu_main ul li:last-child {
  border-right: 0;
}
#menu_main ul li strong,
#menu_main ul li a.current {
  background: url("../img/bg_menu_main_active.png") repeat-x;
}
#menu_main a {
  text-decoration: none !important;
}
#menu_sub {
  width: 164px;
  float: left;
}
#menu_sub ul {
  display: block;
  float: left;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
#menu_sub ul li {
  background: none;
  border-bottom: 1px solid #999;
  clear: both;
  display: block;
  float: left;
  padding: 0;
  width: 100%;
}
#menu_sub ul li a:hover {
  color: #cc3900;
}
#menu_sub ul li a,
#menu_sub ul li strong {
  background: url("../img/sprite.png") 0 -984px;
  color: #666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: auto;
  line-height: 18px;
  padding: 6px 0 5px 10px;
  text-decoration: none;
  width: auto;
}
#menu_sub ul li a:hover {
  color: #cc3900;
}
#menu_sub ul li strong {
  background: url("../img/sprite.png") 0 -1189px;
  color: #cc3900;
}
#menu_sub ul li strong a {
  background: none;
  padding: 0 0 0 0;
  color: #cc3900;
}
#menu_sub ul li a.active {
  background: url("../img/sprite.png") 0 -780px;
}
#menu_sub ul li ul {
  margin-bottom: 9px;
}
#menu_sub ul li ul li {
  border-bottom: 0;
}
#menu_sub ul li ul li a,
#menu_sub ul li ul li strong {
  background: url("../img/sprite.png") 0 -1599px;
  font-size: 11px;
  line-height: 18px;
  padding: 0 0 0 20px;
}
#menu_sub ul li ul li strong {
  color: #cc3900;
}
#menu_sub ul li ul li strong a {
  background: none;
  padding: 0 0 0 0;
  color: #cc3900;
}
#menu_sub ul li ul li strong,
#menu_sub ul li ul li a.active {
  background: url("../img/sprite.png") 0 -1398px;
}
#menu_sub ul li ul li ul {
  margin-bottom: 9px;
}
#menu_sub ul li ul li ul li a,
#menu_sub ul li ul li ul li strong {
  background: url("../img/sprite.png") 0 -1599px;
  padding: 0 0 0 20px;
  margin: 0 0 0 10px;
}
#menu_sub ul li ul li ul li strong {
  background: url("../img/sprite.png") 0 -1398px;
  color: #cc3900;
}
#menu_sub ul li ul li ul li strong a {
  padding: 0;
  margin: 0;
  color: #cc3900;
}
#menu_sub ul li:last-child {
  border-bottom: 0;
}
form fieldset > div {
  display: block;
  float: left;
  clear: both;
  height: auto;
  background: #f2f2f2;
  position: relative;
  width: 96.5%;
  padding: 5px;
  margin: 0 0 1px;
}
div > label {
  font-weight: normal;
  line-height: 18px;
  font-size: 11px;
  display: block;
  float: left;
  width: 35%;
  padding: 3px 5px 0;
  color: #808080;
  word-wrap: break-word;
}
div.searchform label {
  float: left;
}
fieldset {
  margin: 0 0 1.5em 0;
  border: 0;
}
legend {
  font-weight: bold;
  font-size: 11px;
  margin-top: -0.2em;
  margin-bottom: 1em;
  color: #808080;
}
fieldset,
#IE8#HACK {
  padding-top: 0.4em;
}
legend,
#IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
input[type=url],
input[type=email],
textarea,
select {
  background-color: #fff;
  border: 1px solid #bbb;
  display: inline;
  line-height: 18px;
  font-size: 11px;
  color: #222;
  width: 55%;
  padding: 3px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
  border-color: #666;
}
textarea {
  height: 72px;
}
.radio_checkbox p {
  color: #808080;
  margin: 0 0 9px;
  padding-left: 5px;
}
.radio_checkbox div {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
  width: auto;
  clear: none;
}
.radio_checkbox label {
  padding: 0 5px;
  width: auto;
}
input[type=checkbox],
input[type=radio],
input.checkbox,
input.radio {
  position: relative;
  margin: 2px 0 0 0;
  cursor: pointer;
}
input[type=submit], .okbutton {
  background: url("../img/bg_menu_main_search.png") repeat-x;
  margin: 5px 5px 0 0;
  display: inline;
  border: 0;
  padding: 5px;
  color: #666;
  line-height: 18px;
  font-size: 11px;
  cursor: pointer;
}
input[type=submit]:disabled,
input[type=button]:disabled {
  cursor: default;
  opacity: 0.4;
}
.validationError {
    background-color: #fff29d !important;
}
.searchform {
  margin: 0 0 18px 0;
  display: block;
  float: left;
  width: 100%;
}
.searchform label {
  background: #f2f2f2;
  padding: 5px 10px;
  width: 121px;
}
.searchform input[type=text] {
  border: 1px solid #999;
  padding: 6px 5px;
  width: 164px;
  margin: 0;
}
.searchform select {
  width: auto;
  margin-right: 1px;
  padding: 5px 1px;
  border: 1px solid #999;
}
.searchform input[type=submit] {
  border: 1px solid #999;
  padding: 5px 10px;
  width: 98px;
  margin: 0 0 0 20px;
  background: #f2f2f2;
  font-size: 11px;
  line-height: 18px;
  clear: none;
  cursor: pointer;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .searchform input[type=text] {
    padding: 4px 5px;
  }
  .searchform input[type=submit] {
    padding: 3px 10px;
    cursor: pointer;
  }
  .searchform select {
    margin: 0px 1px 0 0;
    line-height: 22px;
  }
}
#search form {
  padding: 8px 10px 10px 10px;
  border-left: 1px solid #fceda4;
  height: 18px;
}
form.miniform {
  height: 18px;
}
.miniform input[type=text] {
  margin: 0;
  padding: 0 5px;
  border: 1px solid #ebcc2f;
  border-right: none;
  width: 120px;
  height: 18px;
  display: block;
  float: left;
  color: #555;
  font-size: 11px;
  line-height: 18px;
}
.miniform input[type=submit] {
  margin: 0 0 0 -4px;
  padding: 0 0 0 0;
  border: 1px solid #ebcc2f;
  border-left: none;
  height: 20px;
  line-height: 18px;
  display: block;
  float: left;
  width: 60px;
  font-size: 11px;
  color: #767255;
  background: #fcf3c8;
  clear: none;
  cursor: pointer;
}
.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.notice a {
  color: #514721;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.success a {
  color: #264409;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.info a {
  color: #205791;
}
.error a,
.alert a {
  color: #8a1f11;
}
.stacktable.small-only {
  width: 100%;
}
.st-head-row {
  padding: 10px 0 5px;
}
.st-head-row p {
  margin: 0;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding: 0 0 5px 0;
}
.st-key {
  width: 49%;
  text-align: right;
  padding-right: 1%;
  color: #666;
}
.st-val {
  width: 49%;
  padding-left: 1%;
}
.st-val p {
  margin: 0;
}
table.stacktable.large-only {
  display: table;
}
table.stacktable.small-only {
  display: none;
}
@media (max-width: 767px) {
  table.stacktable.large-only {
    display: none;
  }
  table.stacktable.small-only {
    display: table;
  }
}
body#startseite {
  background: #ffffff url("../img/bg_body.png") no-repeat top center;
}
body#contentseite {
  background: #ffffff url("../img/bg_body_contentseite.png") no-repeat top center;
}
body#darksite {
  background: #fff;
}
#container {
  display: block;
  margin: 15px auto 0;
  width: 1800px;
}
#container_footer {
  display: block;
  width: 1800px;
  margin: 36px auto 72px;
  padding: 9px 0;
  visibility: hidden;
}
#logo {
  padding: 0 10px;
  width: 190px;
  float: left;
  margin: 0;
}
#logo a {
    line-height: 0;
}
#darksite #logo {
  padding: 0 10px;
  width: 190px;
  float: left;
  margin: 0 0 0 690px;
}
#darksite #header {
  height: 365px;
  width: 1800px;
  background: url("../medien/header_img/darksite/darksite.jpg") no-repeat top left;
  position: relative;
  float: left;
  z-index: 10;
}
#darksite #title {
  position: absolute;
  top: 54px;
  left: -92px;
  z-index: 110;
}
#darksite #title h1 {
  background: #fff;
  border-bottom: 3px solid #cc3900;
  padding: 10px 10px 10px 0;
  overflow: visible;
  width: auto;
}
#darksite #zitat {
  position: absolute;
  top: 290px;
  left: 43px;
  z-index: 120;
}
#darksite #header_sidebar {
  background: url("../img/bg_opacity_33.png") repeat;
  height: 365px;
  width: 210px;
  top: 0;
  left: 690px;
  position: absolute;
  z-index: 100;
}
#darksite #contentainer {
  margin: 1px 0 0 0;
  padding: 36px 0;
  background: #4d4d4d;
  width: 1800px;
  float: left;
}
#darksite #content {
  width: 463px;
  float: left;
  margin: 0 20px 0 207px;
}
#darksite #content_right {
  border-left: 1px solid #bfbfbf;
  padding: 0 0 0 23px;
  width: 164px;
  float: left;
}
#startseite #header {
  height: 342px;
  width: 1800px;
  background: url("../medien/header_img/startseite/irb.jpg") no-repeat top left;
  position: relative;
  float: left;
  z-index: 10;
}
#startseite #title {
  position: absolute;
  top: 180px;
  left: -92px;
  z-index: 110;
}
#startseite #header_sidebar {
  background: url("../img/bg_opacity_33.png") repeat;
  height: 342px;
  width: 210px;
  top: 0;
  left: 690px;
  position: absolute;
  z-index: 100;
}
#startseite #content {
  width: 670px;
  margin: 18px 20px 0 0;
  float: left;
}
#startseite #sidebar {
  width: 210px;
  margin: 18px 0 0 0;
  float: left;
}
#contentseite #header {
  height: 125px;
  width: 1800px;
  position: relative;
  float: left;
  z-index: 10;
}
#contentseite #title {
  position: absolute;
  top: 18px;
  z-index: 110;
}
#contentseite #header_sidebar {
  background: url("../img/bg_opacity_33.png") repeat;
  height: 126px;
  width: 210px;
  top: 0;
  left: 1590px;
  position: absolute;
  z-index: 100;
}
@media screen and (min-width: 100px) and (max-width: 1080px) {
  #startseite #title,
  #contentseite #title,
  #darksite #title {
    left: -5px;
  }
  .column30, .column33, .column40, .column50, .column60, .column70 {
    width: 100% !important;
    clear: both;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1130px) {
  #startseite #title,
  #contentseite #title,
  #darksite #title {
    left: -42px;
  }
}
#startseite #title h1,
#contentseite #title h1 {
  background: url("../img/bg_opacity_66.png") repeat;
  border-bottom: 3px solid #fff;
  padding: 10px;
}
#unit {
  padding: 9px 10px;
  width: 190px;
  height: 251px;
}
@keyframes donate_anim {
    0% {top: 28px; right: -38px;}
    33% {top: 32px; right: -28px; 
        -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);}
    100% {top: 28px; right: -38px;}
}
#donate {
	background-image: url("../img/spenden.png");
  top: 28px;
  cursor: pointer;
  width: 163px;
  height: 153px;
  position: relative;
  right: -38px;
}
#donate.content {
	background-image: url("../img/spenden_klein.png");
  height: 84px;
  width: 90px;
  right: -104px;
  top: 0px;  
}
#donate.content:HOVER {
  animation-name: none;
}
#donate:HOVER {
  animation-name: donate_anim;
  animation-duration: 4s;
}
#donate_clip {
  background-image: url("../img/clip.png");
  top: -96px;
  cursor: pointer;
  height: 60px;
  position: relative;
  right: -143px;
  width: 87px;
}
#donate_clip.content {
	background-image: url("../img/clip_klein.png");
	cursor: pointer;
	height: 37px;
	position: relative;
	right: -165px;
	top: -73px;
	width: 53px;
}
#contentseite #unit {
  height: 105px;
}
#unit a {
  color: white;
}
#menu_main_search {
  background: url("../img/bg_menu_main_search.png") repeat-x;
  width: 1800px;
  float: left;
}
#geo_search {
  width: 190px;
  height: 71px;
  background: #fcd719;
  padding: 0 10px;
  border-top: 1px solid #fceda4;
  border-bottom: 1px solid #eaca2c;
  float: left;
}
#c-logout,
#logout,
#login,
#c-login {
  width: 190px;
  background: #fcd719;
  padding: 0 10px;
  border-top: 1px solid #fceda4;
  border-bottom: 1px solid #eaca2c;
  float: left;
}
#logout,
#c-logout {
  height: 25px;
  margin-top: -25px;
}
#login {
  height: 120px;
  margin-top: -49px;
}
#c-login {
  height: 118px;
  margin-top: -123px;
  padding-top: 5px;
  position: absolute;
  z-index: 999;
}
#login b,
#c-login b {
	clear: both;
}
#login [type=text],
#c-login [type=text] ,
#login [type=password],
#c-login [type=password] {
	 	height: 16px;
    width: 90%;
}
#login input[type="submit"],
#c-login input[type="submit"] {
	margin: 7px 5px 0 0;
	width: 35%;
}
#search {
  background: url("../img/bg_menu_main_search.png") repeat-x;
  width: 0px;
  float: left;
  visibility: hidden;
}
#search > a {
  display: none;
}
#contentseite #left,
#contentseite #content,
#contentseite #content_right,
#contentseite #sidebar {
  margin-top: 0;
}
#left {
  width: 164px;
  float: left;
  margin: 0 20px 0 0;
}
#sidebar {
  width: 210px;
  float: left;
}
#footer {
  background: url("../img/bg_footer.png") no-repeat top center;
  height: 101px;
}
#bank_account,
#partner,
#last_modified,
#legal,
#sponsor {
  width: 164px;
  margin: 0 20px 0 0;
  float: left;
}
#bank_account {
  width: 252px;
}
#legal,
#sponsor {
  width: 164px;
}
#last_modified,
#partner {
  width: 120px;
}
#sponsor {
  margin: 0;
  text-align: right;
}
#container:after,
#container_footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clear {
  clear: both;
}
/* Hintergrundbilder Contentseiten ********************************************/
.wachstation {
  background: #ffffff url("../medien/header_img/contentseite/wachstation.jpg") no-repeat top left;
}
/* Haus */
.stroemungsretter {
  background: #ffffff url("../medien/header_img/contentseite/stroemungsretter.jpg") no-repeat top left;
}
/* Wasserrettung */
.strand {
  background: #ffffff url("../medien/header_img/contentseite/strand.jpg") no-repeat top left;
}
/* Strand */
.fernglas {
  background: #ffffff url("../medien/header_img/contentseite/fernglas.jpg") no-repeat top left;
}
/* Fernglas */
.puppenaufnahme {
  background: #ffffff url("../medien/header_img/contentseite/puppenaufnahme.jpg") no-repeat top left;
}
/* Taucher + Puppe */
.schwimmer {
  background: #ffffff url("../medien/header_img/contentseite/schwimmer.jpg") no-repeat top left;
}
/* Taucher */
.schwimmerin {
  background: #ffffff url("../medien/header_img/contentseite/schwimmerin.jpg") no-repeat top left;
}
/* Schwimmerin */
.dlrg_nacht {
  background: #ffffff url("../medien/header_img/contentseite/dlrg_nacht.jpg") no-repeat top left;
}
/* DLRG Nacht */
.dlrg_flagge {
  background: #ffffff url("../medien/header_img/contentseite/dlrg_flagge.jpg") top left;
}
/* DLRG Flagge */
.one_third_shadow_left {
  background: url("../img/bg_colborder_left.jpg") no-repeat scroll right top transparent;
  padding-right: 43px;
  width: 187px;
  float: left;
}
.one_third_shadow_right {
  background: url("../img/bg_colborder_right.jpg") no-repeat scroll right top transparent;
  padding-right: 43px;
  width: 187px;
  float: left;
}
.one_third_noshadow {
  margin: 0 43px 0 0;
  width: 187px;
  float: left;
}
.one_third {
  width: 141px;
  float: left;
  margin-right: 20px;
}
.two_third {
  width: 302px;
  float: left;
  margin-right: 20px;
}
.last {
  margin-right: 0;
}
.full {
  width: 1740px;
  float: left;
  padding-left: 30px;
}
.ms_full {
  width: 716px;
  float: left;
}
.ms_sb_two_third {
  width: 279px;
  float: left;
  margin-right: 20px;
}
.sb_full, .ms_sb_full_menu {
  width: 670px;
  float: left;
  margin-right: 20px;
}
.ms_sb_one_third {
  width: 187px;
  float: left;
  margin-right: 20px;
}
.ms_sb_full {
  width: 486px;
  float: left;
  margin-right: 20px;
}
.box_grey {
  padding: 8px 10px;
  margin-bottom: 5px;
  background: #f2f2f2 url("../img/bg_box.png") repeat-y top right;
  border: 1px solid;
  border-top-color: #f5f5f5;
  border-right-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  border-left-color: #f5f5f5;
  position: relative;
}
.spendenflyer,
.shop {
  padding: 18px 10px 9px;
}
.box_yellow {
  padding: 8px 10px;
  margin-bottom: 5px;
  background: #fcd719;
  border: 1px solid;
  border-top-color: #fceda4;
  border-right-color: #ebcc2f;
  border-bottom-color: #ebcc2f;
  border-left-color: #fceda4;
  position: relative;
}
.newsletter p {
  margin-bottom: 5px;
  font-size: 11px;
}
.box_grey_plain {
  padding: 18px 10px;
  margin-bottom: 18px;
  background: #f2f2f2;
}
.column .box_grey_plain {
  margin-right: 1em;
}
.trauerbox {
  background: #4d4d4d url("../img/bg_trauerbox.jpg") no-repeat right top;
  padding: 9px 10px;
  margin: 0 0 18px 0;
}
#news_teaser {
  border: 1px solid #bfbfbf;
  width: 162px;
  float: left;
  margin: 18px 0 0 0;
}
/***************************
 * Fuer TYPO3 Uebernahme
 **************************/
.column30 {
  width: 29%;
  padding-right: 4px;
}
.column33 {
  width: 32%;
  padding-right: 4px;
}
.column40 {
  width: 39%;
  padding-right: 4px;
}
.column50 {
  width: 49%;
  padding-right: 4px;
}
.column60 {
  width: 59%;
  padding-right: 4px;
}
.column70 {
  width: 69%;
  padding-right: 4px;
}
.rechts-oben {
  float: right;
  clear: none;
  position: relative;
  margin: 0.5em;
}
/***************************
 * Fuer CKEditor
 * Aenderung weil sonst die Statusbar immer rechts haengt
 **************************/
.cke_bottom {
  clear: both;
}
.cke_contents {
  width: 100% !important;
}
.cke_reset {
  width: 100% !important;
}
/*:::: Smaller screens ::::*/
@media only screen and (max-width: 1023px) {
  body#startseite,
  body#contentseite {
    background: none;
  }
  #container {
    width: 750px;
  }
  #logo {
    padding: 0;
    width: 140px;
  }
  #startseite #header {
    width: 750px;
    height: 285px;
  }
  #startseite #header_sidebar {
    left: 540px;
    height: 285px;
  }
  #startseite #content {
    width: 520px;
  }
  #unit {
    height: 194px;
  }
  #contentseite #header {
    width: 750px;
  }
  #contentseite #header_sidebar {
    left: 540px;
  }
  #contentseite .contentwrap {
    width: 336px;
    display: block;
    float: left;
    margin: 0 20px 0 0;
  }
  .one_third_shadow_left,
  .one_third_shadow_right,
  .one_third_noshadow {
    width: 100%;
    padding: 0;
    background: none;
  }
  .one_third_shadow_left img,
  .one_third_shadow_right img,
  .one_third_noshadow img {
    float: left;
    margin: 0 9px 9px 0;
  }
  .ms_sb_two_third,
  .ms_sb_one_third {
    width: 100%;
    margin: 0;
  }
  .sb_full {
    width: 520px;
  }
  .ms_sb_full {
    width: 336px;
  }
  .ms_full {
    width: 566px;
  }
  .full {
    width: 750px;
  }
  #menu_root {
    width: 750px;
  }
  #menu_meta {
    width: 1510px;
    margin: 8px 0 5px 0;
  }
  #menu_meta ul {
    margin: 0;
  }
  #menu_meta ul li a {
    padding: 0 4px 0 0;
    margin: 0 4px 0 0;
  }
  #menu_main {
    width: 539px;
  }
  #menu_main ul li a {
    padding: 0 5px;
  }
  .boxicon {
    left: 145px;
  }
  form div {
    width: 97%;
  }
  a.images:nth-child(2n+1) img.floatleft {
    margin: 0 0 9px 0;
  }
  a.images:nth-child(3n+1) img.floatleft {
    margin: 0 20px 9px 0;
  }
  #map {
    width: 336px;
    height: 415px;
  }
  #footer {
    height: 350px;
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
  }
  #footer #container_footer {
    width: 750px;
  }
  #footer #container_footer #bank_account,
  #footer #container_footer #partner,
  #footer #container_footer #last_modified,
  #footer #container_footer #legal,
  #footer #container_footer #sponsor {
    width: 142px;
    margin: 0 10px 0 0;
  }
  #footer #container_footer #sponsor {
    margin: 0;
  }
  #darksite #logo {
    float: right;
    margin: 0;
  }
  #darksite #header {
    width: 750px;
  }
  #darksite #header_sidebar {
    left: 540px;
  }
  #darksite #contentainer {
    width: 750px;
  }
  #darksite #content {
    margin: 0 20px 0 57px;
  }
}
/*:::: Mobile ::::*/
@media handheld, only screen and (max-width: 767px) {
  #container {
    width: 100%;
    margin: 0;
  }
  #logo {
    width: 140px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0 0 0;
    box-sizing: border-box;
    float: none;
  }
  #logo img {
    margin: 0;
  }
  #startseite #header {
    width: 100%;
    height: auto;
  }
  #startseite #title {
    top: 0;
    width: 100%;
    left: 0;
  }
  #startseite #title h1 {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    border-bottom-width: 1px;
  }
  #startseite #header_sidebar {
    display: none;
  }
  #startseite #content,
  #startseite #sidebar {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  #startseite #sidebar .box_grey {
    margin: 0 0 15px 0;
  }
  #contentseite #header {
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  #donate_clip {
  	display: none;
  }
  #donate {
    clear: none;
    float: right;
    position: absolute;
    right: 10px;
    top: 89px;
    z-index: 999;
  }
	#donate.content {
		background-image: url("../img/spenden_klein.png");
		clear: none;
		float: right;
		height: 84px;
		left: 21px;
		position: absolute;
		top: 78px;
		width: 90px;
		z-index: 999;
	} 
  #donate:HOVER, #donate.content:HOVER {
    animation-name: none;
  }
  #contentseite #header_sidebar {
    display: none;
  }
  #contentseite #unit {
    height: auto;
  }
  #contentseite #title {
    top: 0;
    width: 100%;
    left: 0;
  }
  #contentseite #title h1 {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    border-bottom-width: 1px;
  }
  #contentseite .contentwrap,
  #contentseite #sidebar,
  #contentseite #left,
  #contentseite .sb_full,
  #contentseite .ms_sb_full,
  #contentseite .ms_full,
  #contentseite .full {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
  }
  #contentseite #sidebar .box_grey,
  #contentseite #sidebar .box_yellow {
    margin: 0 0 15px 0;
  }
  #news_teaser {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #unit {
    width: 100%;
    height: auto;
    padding: 0 10px;
    clear: both;
    box-sizing: border-box;
    text-align: center;
  }
  #unit h2, #unit h2 a {
    color: #333;
    text-decoration: none;
    text-shadow: none;
  }
  #geo_search {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
  #geo_search p {
    width: 100%;
    float: left;
    line-height: 20px;
    margin: 0;
  }
  #geo_search p:last-child {
    margin: 0;
    width: 40%;
  }
  #geo_search form.miniform {
    width: 60%;
    display: block;
    float: left;
    margin: 0 0 5px 0;
  }
  #geo_search form.miniform input[type=text] {
    width: 60%;
    box-sizing: border-box;
    height: 20px;
  }
  #geo_search form.miniform input[type=submit] {
    width: 40%;
    box-sizing: border-box;
  }
  .accordion {
    margin: 0 0 20px 0;
  }
  a.images img.floatleft {
    margin: 0 4px 4px 0;
  }
  a.images:nth-child(2n+1) img.floatleft {
    margin: 0 0 4px 0 !important;
  }
  a.images:nth-child(3n+1) img.floatleft {
    margin: 0 4px 4px 0;
  }
  #map {
    width: 300px;
    height: 371px;
    margin: 0 0 20px 0;
  }
  #menu_root {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  #menu_root p {
    line-height: 20px;
  }
  #menu_main {
    width: 50px;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    position: relative;
    overflow: visible;
    background: none;
    border-right: 0;
    float: left;
  }
  #menu_main > a {
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: -9999px;
    background-color: #fcd719;
    position: relative;
    background: url("../img/sprite_mobile.png") no-repeat;
    background-size: 30px 60px;
    background-position: 0 0;
  }
  #menu_main:not( :target ) > a:first-of-type,
  #menu_main:target > a:last-of-type {
    display: block;
  }
  #menu_main > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    width: 265px;
    z-index: 1000;
    background: #fcd719;
    border-right: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  #menu_main > ul li {
    width: 100%;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid #f0cc18;
  }
  #menu_main > ul li a,
  #menu_main > ul li strong {
    padding: 0 10px;
    line-height: 30px;
  }
  #menu_main > ul li a:hover,
  #menu_main > ul li strong:hover {
    background-image: none;
  }
  #menu_main > ul li strong {
    background: #f0cc18;
    color: #cc3900;
  }
  #menu_main > ul li strong a {
    padding: 0;
    color: #cc3900;
  }
  #menu_main > ul li ul {
    border-right: 0;
  }
  #menu_main > ul li ul li {
    border-top: 1px solid #fcd719;
  }
  #menu_main > ul li ul li a,
  #menu_main > ul li ul li strong {
    padding: 0 10px 0 20px;
    background: #f0cc18;
    line-height: 25px;
  }
  #menu_main > ul li ul li a.active,
  #menu_main > ul li ul li strong.active {
    background: #e3c117;
    color: #cc3900;
  }
  #menu_main > ul li ul li strong {
    color: #cc3900;
  }
  #menu_main > ul li ul li ul li {
    border-bottom: 0;
    border-top: 1px solid #f0cc18;
  }
  #menu_main > ul li ul li ul li a,
  #menu_main > ul li ul li ul li strong {
    background: #e3c117;
    line-height: 22px;
    padding: 0 10px 0 30px;
  }
  #menu_main > ul li ul li ul li a.active,
  #menu_main > ul li ul li ul li strong.active {
    background: #d6b615;
    color: #cc3900;
  }
  #menu_main > ul li ul li ul li ul li {
    border-top: 1px solid #e3c117;
  }
  #menu_main > ul li ul li ul li ul li a,
  #menu_main > ul li ul li ul li ul li strong {
    padding: 0 10px 0 40px;
    background: #d6b615;
  }
  #menu_main > ul li ul li ul li ul li strong {
    color: #cc3900;
  }
  #menu_main:target > ul {
    display: block;
  }
  #search {
    width: 50px;
    margin: 0 0 0 -70px;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    position: relative;
    overflow: visible;
    background: none;
    border-right: 0;
    float: right;
  }
  #search > a {
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: -9999px;
    background-color: #fcd719;
    position: relative;
    background: url("../img/sprite_mobile.png") no-repeat;
    background-size: 30px 60px;
    background-position: 0 -30px;
  }
  #search:not( :target ) > a:first-of-type,
  #search:target > a:last-of-type {
    display: block;
  }
  #search > form.miniform {
    height: auto;
    display: none;
    position: absolute;
    right: 10px;
    width: 187px;
    z-index: 1000;
    background: #fcd719;
    border: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  #search:target > form.miniform {
    display: block;
  }
  .searchform label {
    padding: 0;
    background: none;
    width: 100%;
  }
  .searchform input[type=text] {
    width: 59%;
    box-sizing: border-box;
    margin: 0 1% 0 0;
  }
  .searchform input[type=submit] {
    width: 40%;
    margin: 0;
    padding: 4px 10px;
  }
  input#ort {
    width: 35%;
  }
  input[type=submit] {
    width: auto;
  }
  .acResults {
    border-color: #b5b5b5;
    background: #e2e2e2;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  .acResults li {
    padding: 10px 5px !important;
    border-bottom: 1px solid #fff;
    background: #e2e2e2 !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
  }
  .boxicon {
    left: auto;
    right: -10px;
  }
  #footer {
    height: auto;
  }
  #footer #container_footer {
    width: 94%;
    padding: 0 3%;
    margin: 10px 0;
  }
  #footer #container_footer #menu_meta {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
  #footer #container_footer #menu_meta ul {
    float: none;
  }
  #footer #container_footer #menu_meta ul li {
    display: inline-block;
    float: none;
    padding: 5px 0;
  }
  #footer #container_footer #menu_meta ul li a {
    border: 0;
    margin: 0 10px;
    padding: 0;
  }
  #footer #container_footer #bank_account,
  #footer #container_footer #partner,
  #footer #container_footer #last_modified,
  #footer #container_footer #legal,
  #footer #container_footer #sponsor {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px 0 0;
    margin: 0;
  }
  #footer #container_footer #bank_account p,
  #footer #container_footer #partner p,
  #footer #container_footer #last_modified p,
  #footer #container_footer #legal p,
  #footer #container_footer #sponsor p {
    line-height: 16px;
    margin: 0 0 16px 0;
  }
  #footer #container_footer #sponsor {
    width: 100%;
    padding: 0;
    text-align: left;
  }
  #darksite #logo {
    float: none;
    width: 100%;
    margin: 10px auto;
  }
  #darksite #header {
    width: 100%;
    height: 150px;
  }
  #darksite #header_sidebar {
    display: none;
  }
  #darksite #zitat {
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  #darksite #zitat blockquote {
    font-size: 14px;
  }
  #darksite #zitat p {
    margin: 10px 0 0 200px;
  }
  #darksite #title {
    top: 0;
    width: 100%;
    left: 0;
  }
  #darksite #title h1 {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
    border-bottom-width: 1px;
    background: url("../img/bg_opacity_66.png") repeat;
  }
  #darksite #header_sidebar {
    left: 540px;
  }
  #darksite #contentainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  #darksite #content {
    margin: 0 0 20px 0;
    width: 100%;
  }
  #darksite .one_third {
    width: 100%;
    margin: 0;
  }
  #darksite .darksite_info {
    width: 100%;
    box-sizing: border-box;
  }
  #darksite #content_right {
    width: 100%;
    border-left: 0;
    padding: 0;
  }
  #login, #c-login {
    height: auto;
    margin-top: 0;
    width: 100%;
    padding: 0 !important;
  }
  #login b, #c-login b {
    clear: both;
  }
  #login input[type=text],
  #c-login input[type=text] ,
  #login input[type=password],
  #c-login input[type=password] {
    height: 16px;
    width: 98%;
    clear: both;
  }
  #login input[type="submit"],
  #c-login input[type="submit"] {
    margin: 7px 5px 0 0;
    width: 100%;
  }
  #c-logout, #logout {
    background: url("../img/bg_opacity_66.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    border-top: solid #fff 1px;
    position: relative;
    width: 100%;
    margin-top: -20px;
    padding: 0;
  }
  #login form, #c-login form {
    padding: 5px 10px;
  }
  form div label, form div textarea, form div select {
    width: 90%;
    clear: both;
  }
  form fieldset > div input[type=text] {
    width: 90%;
  }
}
/* ########################
#
# colpick Color Picker
#
###################### */

label.colorPicker-picker {
  width: 330px;
  float:left;
  padding: 0 !important;
  border: 1px solid #ccc;
  cursor: pointer;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
div.log {
    background-color: #f6f6f6;
    border: 1px dotted #690;
    font-family: monospace;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
div.log .logerror {
    color: #ff0000;
    display: inline;
}
div.log .logwarning {
    color: #FF4500;
    display: inline;
}
div.log .lognotice {
    color: #00FF00;
    display: inline;
}
div.log .logtime {
    color: #000000;
    display: inline;
}
div.log .lognew {
    background-color: #66FF33;
}
div.log .logline:hover {
    background-color: #FFFF33;
}

a i.fa {
	margin-right:5px
}
